.trending{
    margin-top: 25vh;
    width: calc(100vw - 16px);

}

.head {
    display: flex;
    width: calc(100vw - 16px);
    height: 60px;
    border: 1px solid red;
    justify-content: space-between;
    align-items: center;
}

.head div :hover {
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 180px); 
    gap: 16px; 
    width: 100%;
    border: 5px solid yellow;
    
    
}

.grid-container div {
    width: 20px;
    height: 320px;
    
}

.movie-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

